<article class="Blogg">
    <div class="BlogText">
        <p class="BlogTitle">
            {{Title}}
        </p>

        <p class="BlogDate">
          {{Date}}
        </p>

        <p class="BlogContent">
          {{Content}}
        </p>

    </div>
</article>
