body{
  padding: 0;
  margin: 0;
  background-color:#EF9545;
  font-family: 'Exo', sans-serif;
}

a{
  text-decoration: none;
}

.navbar{
  width: 100%;
  background-color: black;
	float: right;
	padding-right: 10px;
}

.navitem {
  display: inline-block;
}
.navlist {
  margin: 0 0 0 20px;
  padding: 12px;
  float: right;
}
header{
    background-color: black;
    font-size: 20px;
}
.navlink a{
	padding-right:30px;
	color:white;
	text-decoration: none;
}

.navlink a:hover{
	color: #EF9545;
}

.navbar-search {
	line-height: 30px;
}

#navbar-search-input {
	padding: 4px;
	font-size: 16px;
	background-color: white;
	border: none;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
	margin-left: 5px;
	font-size: 16px;
	background: white;
	border: none;
	color: white:
}

#navbar-search-button:hover {
  color: #EF9545;
}

.projects-container{
 margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.project-title{
  padding-left: 150px;
  padding-top: 30px;
  font-size: 40px;
}

.project{
  width: 500px;
  height: 150;
  margin: 2px;
  padding:10px;
  border: 1px solid #dadada;
  border-radius: 20px;
  background-color: #fff;
}
.project-name{
  text-align: center;
}
.project-content{
  margin-left: 10px;
}

.project-content p{
  margin: 0;
}

.project:hover {
  height: 435px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.img-container{
  padding: 5px;
/*align photo center */
}

.photo-img{
  max-height: 200px;
  max-height: 300px;
}
