<header>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="index.html">Home</a></li>
            <li class="navitem navlink active"><a href="projects.html">Projects</a></li>
            <li class="navitem navlink"><a href="about.html">About</a></li>
            <li class="navitem navlink"><a href="Blog.html">Blog</a></li>
            <li class="navitem navlink contact"><a href="contact.html">Contact</a></li>
            <li class="navitem navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Search...">
                <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
            </li>
        </ul>
    </nav>
</header>

	<main class="request-error">
		<h1>404 ERROR</h1>
		<h3>Sorry we were unable to handle your request</h3>
	</main>
