<header>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="index.html">Home</a></li>
            <li class="navitem navlink active"><a href="projects.html">Projects</a></li>
            <li class="navitem navlink"><a href="about.html">About</a></li>
            <li class="navitem navlink"><a href="Blog.html">Blog</a></li>
            <li class="navitem navlink contact"><a href="contact.html">Contact</a></li>
            <li class="navitem navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Search...">
                <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
            </li>
        </ul>
    </nav>
</header>

<footer class="footer">
    <p>&copy Copyright 2017 <br/>  Oregon State University</p>

</footer>

<main class="Blog-container">

  {{#each bloggy}}
        {{> blogss}}
  {{/each}}

</main>

<button type="button" id="create-blog-button"><i class="fa fa-hand-spock-o"></i></button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-blog-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Write A Blog Post</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="blog-input-element">
        <label for="blog-title-input">Title</label>
        <input type="text" id="blog-title-input">
      </div>
      <div class="blog-input-element">
        <label for="blog-date-input">Date</label>
        <input type="text" id="blog-date-input">
      </div>
      <div class="blog-input-element">
        <label for="blog-content-input">Content</label>
        <textarea id="blog-content-input"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Post</button>
    </div>

  </div>
</div>

        <footer class="footer">
                <p>&copy Copyright 2017 <br/>  Oregon State University</p>

        </footer>


