body{
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  overflow: scroll;
  font-family: 'Exo', sans-serif;
  background-color: #DFE2DB;
}

.navbar{
    width: 100%;
    background-color: black;
    float: right;
    padding-right: 10px;
    margin: 0 !important;
}

.navitem {
    display: inline-block;
}


.navitem a{
  font-family: 'Exo', sans-serif;

}


.navlist {
    margin: 0 0 0 20px;
    padding: 12px;
    float: right;
}


header{
    background-color: black;
    font-size: 20px;
}



.navlink a{
	padding-right:30px;
	color:white;
	text-decoration: none;
}


.navlink a:hover{
	color: #EF9545;
}

/*
.footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: auto;
        background-color: black;
        color: white;
        text-align: center;
        height: 50px auto;

}
*/

#navbar-search-input {
    border-radius: 5px;
	padding: 4px;
	margin-right: 0px;
	font-size: 16px;
	background-color: white;
	border: none;
}

#navbar-search-input:focus {
    outline: none;
    background-color: #fff;
}


#navbar-search-button {
    border-radius: 5px;
	font-size: 20px;
	background: white;
	border: none;
	color: white:
}

#navbar-search-button:hover {
    color: #EF9545;
    font-size: 22px;
}

.Blog-container {
    display: flex;
    flex-wrap: wrap;
    top: 0;
}

.Blogg {
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid;
    border-color:black;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: -120px;
    margin-bottom: 150px;
    display: flex;
    background-color: white;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.Blogg:hover {
   padding-top:15px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 25px;

}

.BlogText .BlogDate {
    font-size: 20px;
    position: absolute;
    width: 70%;
    text-align: right;
    margin-left 5px;

}

p.BlogTitle{
    font-family:Impact, Charcoal, sans-serif;
}

p.BlogContent{
    font-family:"Courier New", Courier, monospace;
}

p.BlogDate{
    font-family:Impact, Charcoal, sans-serif;
}


.BlogText .BlogContent {
    flex: 1 1 80%;
    margin-left: 60px;
    margin-top:80px;
    margin-right:60px;
    position: relative
}

.BlogText .BlogTitle {
    text-decoration: underline;
    font-size: 20px;
    position: absolute;
    width: 80%;
    text-align: center;
}
