/* Style inputs with type="text", select elements and textareas */

body{
  padding: 0;
  margin: 0;
  background-color:#EF9545;
  font-family: 'Exo', sans-serif;
}

a{
  text-decoration: none;
}

.navbar{
  width: 100%;
  background-color: black;
	float: right;
	padding-right: 10px;
}

.navitem {
  display: inline-block;
}
.navlist {
  margin: 0 0 0 20px;
  padding: 12px;
  float: right;
}
header{
    background-color: black;
    font-size: 20px;
}
.navlink a{
	padding-right:30px;
	color:white;
	text-decoration: none;
}

.navlink a:hover{
	color: #EF9545;
}

.navbar-search {
	line-height: 30px;
}

.footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: auto;
        background-color: black;
        color: white;
        text-align: center;
        height: 50px auto;

}

#navbar-search-input {
	padding: 4px;
	font-size: 16px;
	background-color: white;
	border: none;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
	margin-left: 5px;
	font-size: 16px;
	background: white;
	border: none;
	color: white:
}

#navbar-search-button:hover {
  color: #EF9545;

}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

body{
	background-color: #EF9545
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #EF9545;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: ##EF9545;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	   padding-top:100px;
     padding-bottom:100px;
}
