body{
  padding: 0;
  margin: 0;
  background-color:black;
  font-family: 'Exo', sans-serif;

}

#page1 {
  background-image: url("aiclub.png");
  background-position: 0px 70px;
  background-size: 80% 400px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

a{
  text-decoration: none;
}

.navbar{
  width: 100%;
  height: 50px;
  background-color: black;
  float: right;
  margin-top: 0;
  padding-top: 0;

}
.navitem {
  display: inline-block;

}


.navlist {
  margin: 0;
  padding: 12px;
  float: right;

}

header{
    background-color: black;
    font-size: 20px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 500;
}

.page-name{
	font-size: 50px;
	text-align: center;
}
.navlink a{
	padding-right:30px;
	color:white;
	text-decoration: none;
}

.navlink a:hover{
	color: #EF9545;
}

.navbar-search {
	line-height: 30px;
}

#navbar-search-input {
    border-radius: 5px;
	padding: 4px;
	font-size: 16px;
	background-color: white;
	border: none;
}

#navbar-search-input:focus {
	outline: none;
  	background-color: #fff;

}
#navbar-search-button {
    border-radius: 5px;
	margin-left: 5px;
	font-size: 16px;
	background: white;
	border: none;
	color: white:
}

#navbar-search-button:hover {
  color: #EF9545;

}
.footer {
      height:24px; // Replace with the height your footer should be
         width: 100%; // Don't change
         background-image: none;
         background-repeat: repeat;
         background-attachment: scroll;
         background-position: 0% 0%;
         position: fixed;
         bottom: 60px;
         left: 47%;
         color: white;
         text-align: center;
}

#add-info-button {
	  position: absolute;
  	  float: center
  	  height: 110px;
	  width: 220px;
	  top: 60%;
	  left: 45%;
  	  border: none;
  	  font-size: 30px;
  	  background-color: rgb(234, 99, 0);
  	  color: black;
	  text-align: center;
  	  cursor: pointer;
}

a {
	text-decoration: none;

}

.button a:hover {
	color: #EF9545;

}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-twit-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.twit-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.twit-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.twit-input-element input,
.twit-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.twit-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.request-error {
	margin-top: 75px;
	text-align: center;
	padding: 0;
        margin: 0;
        overflow: hidden;

}
.request-error h1 {
	margin-top: 150px;
	font-size: 96px;
	font-weight: 100;
	color: white;
	position: relative;

}
.request-error h3 {
	margin: 10px 0;
	font-size: 36px;
	font-weight: 400;
	color: white;
	position: relative;

}

.Blog-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 250px;
}

.Blogg {
    box-shadow: 10px 10px 5px #111111;
    border: 2px solid;
    border-color:black;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: -90px;
    margin-bottom: 150px;
    display: flex;
    background-color: white;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.Blogg:hover {
   padding-top:15px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 25px;

}

.BlogText .BlogDate {
    font-size: 20px;
    position: absolute;
    width: 70%;
    text-align: right;
    margin-left 5px;

}

p.BlogTitle{
    font-family:Impact, Charcoal, sans-serif;
}

p.BlogContent{
    font-family:"Courier New", Courier, monospace;
}

p.BlogDate{
    font-family:Impact, Charcoal, sans-serif;
}


.BlogText .BlogContent {
    flex: 1 1 80%;
    margin-left: 60px;
    margin-top:80px;
    margin-right:60px;
    position: relative
}

.BlogText .BlogTitle {
    text-decoration: underline;
    font-size: 20px;
    position: absolute;
    width: 80%;
    text-align: center;
}

#create-blog-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 500;
}

#create-blog-button:hover,
#create-blog-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 40px;
  background-color: black;
}

#create-blog-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-blog-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.blog-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.blog-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.blog-input-element input,
.blog-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.blog-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #F9861F;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #EF9545;
}
